body {
       font-family: Arial, sans-serif;
    background-color: #d0f70e;
    margin: 0;
    padding: 1;
    box-sizing: border-box;
}
h1
{
    padding-top: 2px;
    font-size: 10px;
    color:coral;
    letter-spacing: 20px;

}
nav {
    background-color: #333;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 8px;
    display: inline-block;
}
nav a:hover {
    background-color: #f2c57c; 
    color: #333;
}
section {
    padding: 40px;
    text-align: center;
}
h2 {
    color: #b33a3a;
    font-style:oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 20px auto;
    text-align: center;
}
.card {
    background-color: white;
    display: flex;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-style: italic;
    color:#b33a3a;
    text-shadow:#f2c57c;
}
.card img {
    width: 80px;
    height: 100px;
    object-fit: cover;
    border-radius: 25px;
    align-items: center;
    border: #f2c57c;
    

yy  {
            max-width: 800px;
            margin: 0 auto;
            text-align: left;
            padding: 20px;
            background-color: white;
            border-radius: 12px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }
        .yy h2 {
            text-align: center;
            color: #b33a3a;
        }
        .yy p {
            font-size: 18px;
            margin: 10px 0;
        }
        .yy b {
            color: #b33a3a;
        }
        }
footer {
    background-color:#333;
    color: white;
    
    text-align: center;
    padding: 15px;
}